In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [6]:
samsung=pd.read_csv('testing_of_hypothesis.csv')
samsung.head(10)

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74
5      6   S394037             87       A394057           82
6      7   S514183             89       A514215           88
7      8   S433504             83       A433564           92
8      9   S779836             75       A779861           69
9     10   S591911             74       A591964           64

 ### Hypothesis 1: -The Samsung Average customer satisfaction score is minimum 75%.

In [10]:
samsung.rename(columns={'Samsung Score':'Samsung_Score'},inplace=True)
#Null hypothesis:- The Samsung Average customer satisfaction score is equal to 75%.
stats.ttest_1samp(a= samsung.Samsung_Score, 
                 popmean= 75)  # Pop mean


# p-value is less than 0.05, so we are able to reject null hypothesis. Statistic sign is +ve which means 
# average satisfaction is greater than 75. Hence, hypothesis 1 is correct.

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

### Hypothesis 2: - The overall average satisfaction score of Samsung is sameas Apple. There is no significant difference in the satisfaction scores

In [14]:
apple_score = samsung.Apple_Score
samsung_score = samsung.Samsung_Score

#Null hypothesis:- The Samsung Average customer satisfaction score is equal to apple's score.
stats.ttest_ind(a= apple_score,
                b= samsung_score,
                equal_var=True)
# p-value is greater than 0.05, so we are unable to reject null hypothesis. 
#We can conclude there is no significant difference between samsung and apple's customer satisfaction score
#Hence, hypothesis 2 is correct.

Ttest_indResult(statistic=1.9064295935043472, pvalue=0.05804261444411807)