### Missing Values and Deleting Data points



### Step 1. Import the necessary libraries numpy, pandas etc

In [20]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *wine.txt* from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) or from the folder

In [15]:
wine = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=",",header=None)

### Step 3. Assign it to a variable called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [16]:
wine=pd.DataFrame(wine)
print(wine)

     0      1     2     3     4    5     6     7     8     9      10    11  \
0     1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29   5.64  1.04
1     1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
2     1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
3     1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
4     1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
..   ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
173   3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
174   3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
175   3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
176   3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
177   3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

       12    13
0    3.92  1065
1    3.40  1050
2    3.17  1185
3    3.45  1480
4    2.93   735
..    ...   ...
173  1.74   740
174  1.56   750
175  1.56   835
176  1.62   840
177  1.60   560

[178 rows x 14 columns]

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [17]:
cols=[0,3,6,8,10,12,13]
wine.drop(wine.columns[cols],axis=1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [18]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

### Step 6. Set the values of the first 3 values from alcohol column as NaN

In [21]:
wine.loc[:2,'alcohol']=np.NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [22]:
wine.loc[2:3,'magnesium']=np.NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [29]:
wine.alcohol.fillna(10,inplace=True)
wine.magnesium.fillna(100,inplace=True)

### Step 9. Count the number of missing values in all columns.

In [30]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10 and save it.

In [31]:
rand=np.random.randint(10,size=10)

### Step 11.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [32]:
wine.loc[rand,'alcohol']=np.NaN

### Step 12.  How many missing values do we have now?

In [33]:
wine.isna().sum()

alcohol              5
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [37]:
wine.alcohol[wine.alcohol.notnull()]

2      10.00
3      14.37
5      14.20
6      14.39
9      13.86
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 173, dtype: float64

### Step 13. Delete the rows that contain missing values

In [38]:
wine.dropna(inplace=True)

### Step 15.  Reset the index, so it starts with 0 again

In [40]:
wine.reset_index(inplace=True)